@charset "UTF-8";

/*以下、①背景色など*/
.line-bc {
  padding: 20px 10px;
  max-width: 1000px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
  overflow:scroll;
  max-height:500px;
  text-align:left;

}

.posting-area{
	padding: 20px 10px;
  	max-width: 450px;
  	margin: 15px auto;
  	text-align: right;
  	background:aquamarine;
}

.form-group textarea{
	position: relative; 
	width:350px;
}

/*以下、②左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
/*  margin-right: -50px;*/
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}

.balloon6.created_at{
	margin-left:10px;
/*	left:-19px;*/
	float:right;
}

.balloon6.deleted_at{
	margin-left:10px;
/*	left:-19px;*/
	float:right;
}



/*.frame.created_at{*/
/*	float:right;*/
/*}*/

.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 10px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
  word-break: break-word;
}


.says::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

.says-deleted {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 10px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background:lightpink;
  word-break: break-word;
}


.says-deleted::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid lightpink;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  
}
.says-deleted p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
/*  margin: 10px 0;*/
	display: inline-block;
	position: relative; 
	margin: 0 10px 0 0;
	padding: 8px;
	max-width: 250px;
	border-radius: 12px;
	background: #30e852;
	font-size: 15px;
	word-break: break-word;
}


.mycomment p {
/*  display: inline-block;*/
/*  position: relative;
/*  margin: 0 10px 0 0;*/
/*  padding: 8px;*/
/*  max-width: 250px;*/
/*  border-radius: 12px;*/
/*  background: #30e852;*/
/*  font-size: 15px;*/
/*	margin: 10px 0;*/
	margin: 0;
	padding: 0;
	text-align:left;
}

/*.balloon-text-right{*/
/*	float: left;*/
/*	max-width: -webkit-calc(100% - 80px);*/
/*	max-width: calc(100% - 80px);*/
/*}*/

.mycomment p::after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

/*.created_at{*/
/*	  display: inline-block;*/
/*	  position: relative;*/
/*	  font-family: MS Gothic;*/
/*	  font-size: 10px;*/
/*	  width:150px;*/
/*	  left:100px;*/
/*}*/

/*.deleted_at{*/
/*	  display: inline-block;*/
/*	  position: relative;*/
/*	  font-family: MS Gothic;*/
/*	  font-size: 10px;*/
/*	  width:150px;*/
/*	  left:100px;*/
/*}*/


.outer-part-of-my-comment{
	width: 100%;
  	margin: 10px 0;
  	overflow: hidden;
  	text-align: right;
}

.outer-part-of-my-comment .chatting{
	width: 100%;
		
}


.outer-part-of-my-comment.created_at{
	display: inline-block;
	position: relative;
	font-family: MS Gothic;
	font-size: 10px;
	width:150px;
	left:0px;
	margin-right:15px;
	text-align: left;
}

.outer-part-of-my-comment.deleted_at{
	display: inline-block;
	position: relative;
	font-family: MS Gothic;
	font-size: 10px;
	width:150px;
	left:0px;
	margin-right:15px;
	text-align: left;
}


/*.mycomment .created_at p::after {	*/
/*	content: "";*/
/*	position: absolute;*/
/*	top: 3px; */
/*	right: -19px;*/
/*	border: 8px solid transparent;*/
/*	border-left: 18px solid #30e852;*/
/*	-webkit-transform: rotate(-35deg);*/
/*	transform: rotate(-35deg);*/
/*}*/


.user-name{
	color:black;
	font-family: MS Gothic;
	font-size: 10px;
}


#modalBody {
  white-space: pre-wrap;
}


#exampleModalLabel{
	text-align: center;
}

.modal-body h5{
	text-align: left;
}

.modal-body h6{
	text-align: center;
}

.modal-body #modalContent{
	text-align: left;
}