<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{prototype/layout/layout}">
	<head>
		<meta charset="UTF-8">
		<title>Signup</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<body>
		<div layout:fragment="content">
			<h1>チャットアプリ</h1>
			<p>ログイン</p>
			<form method="post" href="../menu/menu" th:object="${signupForm}">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th>
								ユーザー名
								<!--
									<label for="userName" th:text="#{userName}">
										
									</label>
								 -->
							</th>
							<td>
								<input type="text" th:field="*{userName}" th:errorclass="is-invalid"/>
								<div class="invalid-feedback" th:errors="*{userName}"></div>
							</td>
						</tr>
						<tr>
							<th>パスワード
								<!-- 
									<label for="password" th:text="#{password}">
									
									</label>
								 -->
							</th>
							<td>
								<input type="password" maxlength="200" th:field="*{password}" th:errorclass="is-invalid"/>
								<div class="invalid-feedback" th:errors="*{password}">
									
								</div>
							</td>
						</tr>
						<tr>
							<th>パスワード(確認)
								<!-- 
									<label for="passwordConfirmation" th:text="#{passwordConfirmation}">
									
									</label>
								 -->
							</th>
							<td>
								<input type="password" maxlength="200" th:field="*{passwordConfirmation}" th:errorclass="is-invalid"/>
								<div class="invalid-feedback" th:errors="*{passwordConfirmation}">
									
								</div>
							</td>
						</tr>
						
						
					</tbody>
				</table>
				<button class="btn btn-primary" name="confirmation">確認画面</button>
				<button class="btn btn-primary" name="cancellation">キャンセル</button>
			</form>
		</div>
	</body>
</html>