<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{actual/layout/layout}">
	<head>
		<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<script th:src="@{/js/room/room.js}" defer></script>
		<title th:text="#{talk.title.room.createRoom}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1>チャットアプリ</h1>
			<h2>トークルーム作成</h2>
			<form method="post" id="search-room-form" th:action="@{/talk/createARoom}" th:object="${roomCreationForm}">
				<table class="table table-bordered" border="1">
					<input type="hidden" th:field="*{roomId}"/>
					<tr>
						<th>
							<label for="roomName" th:text="#{roomName}"></label>
						</th>
						<td>
							<input type="text" th:field="*{roomName}" th:errorclass="is-invalid"/>
							<div class="invalid-feedback" th:errors="*{roomName}"></div>
						</td>
					</tr>
					<tr>
						<td><h3>追加ユーザー選択</h3></td>
						<td>
							<p class="userIds"></p>
						</td>
					</tr>
					<tr class="user" th:each="user:${userList}">
						<th:block th:if="${loginUser.userId == user.userId}" >
							<input type="hidden" id="logedinUserId" name="logedinUserId" th:value="${loginUser.userId}"/>
							<label th:text="|${loginUser.userName}|" for="logedinUserId" hidden >field</label>					
						</th:block>
						<th:block th:unless="${loginUser.userId == user.userId}">
							<td>
								<input type="checkbox" name="userIds" th:id="${#ids.seq('id_userID_')}" th:value="${user.userId}" />
								<label th:text="|${user.userName}|" th:for="${#ids.prev('id_userID_')}">field</label>
							</td>							
						</th:block>
					</tr>				
				</table>
				<button type="button" class="btn btn-primary" th:text="#{user.btn.confirmation}" data-bs-toggle="modal" data-bs-target="#exampleModal">	
				</button>
				<div class="modal fade modal-fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
					  <div class="modal-dialog modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h4 class="modal-title" id="exampleModalLabel">入力内容の確認</h4>
					        <button type="button" class="close" data-bs-dismiss="modal" aria-label="閉じる">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <div>
					          <h5 class="text-muted">下記の内容でトークルームを作成しますが、よろしいでしょうか？</h5>
					        </div>
					        <div>
					          <h6 class="text-muted">ルーム名</h6>
					          <p class="px-2" id="modalRoomName"></p>
					        </div>
					        <div>
					          <h6 class="text-muted">入室ユーザー</h6>
					          <ol id="list">
							  </ol>						
					        </div>
					      </div>
					      <div class="modal-footer">
							<button type="button" id="submit_button" class="btn btn-primary w-100 mt-3" >作成決定</button>  
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
					      </div><!-- /.modal-footer -->
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
			</form>
			<script defer>
				$(function() {
					$('#exampleModal').on('show.bs.modal', function () {
						var roomName = $('#roomName').val()
						var userIds = [];
						userIds = $('input[name="userIds"]:checked');
						console.log(userIds);
/*						userIds = document.getElementsByName('userIds');
							$('input[name="userIds"]:checked').each(function(){
							// チェックされているの値を配列に格納
							userIds.push($(this).val());
						});
*/
						let logedinUserId = $('#logedinUserId');
						var logedinUser = $('label[for=' + logedinUserId[0].getAttribute('id') + ']');
						let list_element = document.getElementById('list');
						if(list_element.childElementCount > 0){
							//[li]の数を取得する
							const len = list_element.children.length ;
							//[li]の数だけ繰り返す
						 	for ( var i = 0 ; i < len ; i ++ ) {
								//[li]を削除する
						  		list_element.removeChild ( list_element.children [0] ) ;
							}
						}	
						var ListElementLogedinUser = document.createElement('li');						
						ListElementLogedinUser.textContent =  '(あなた)' + logedinUser.text();
						document.getElementById('list').appendChild(ListElementLogedinUser);
						$('input[name="userIds"]:checked').each(function(index, element){
								var userList = document.createElement('li');
								var element = $('label[for=' + $(element).attr('id') + ']');
								userList.textContent = element.text();
								$("#list").append(userList); 
						});
						var userName = $('#userName').val()
						var modal = $(this)												
						modal.find('#modalRoomName').text(roomName)
					})
				})
			</script>
		</div>
	</body>
</html>