<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="katachi.spring.portfolio.repository.RoomMapper">
	<resultMap type="katachi.spring.portfolio.domain.user.model.Room" id="Room">
		<id column="room_id" property="roomId"/>
		<result column="room_name" property="roomName"/>
		<result column="deletion_flag" property="deletionFlag"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
		<result column="deleted_at" property="deletedAt"/>
	</resultMap>
	<select id="findMany" resultMap="Room">
		select * from rooms as rooms 
			inner join room_users as room_users
			on room_users.user_id = #{userId}
			and room_users.room_id = rooms.room_id
		 where rooms.deletion_flag = 0
	</select>
	
	<select id="findRooms" resultMap="Room">
		select * from rooms as rooms
			join room_users as room_users
			on room_users.user_id = #{userId}
			and rooms.room_id = room_users.room_id
		 where 
		 	(rooms.deletion_flag = 0)
			and	rooms.room_id = #{room.roomId}
			or rooms.room_name = #{room.roomName}; 
	</select>	
	<insert id="insertOne">
		insert into rooms(
			room_name,
			deletion_flag,
			created_at
		)
		values
		(
			#{roomName},
			0,
			now()
		)
	</insert>

</mapper>